{{- if .Params.fediverse -}}
{{- if eq .Kind "page" -}}
{{/* Single post page - show dynamic count */}}
<span class="fedicomment-counter" data-instance="{{ .Params.fediverse.instance }}" data-status-id="{{ .Params.fediverse.id }}"><a href="{{ .Permalink }}#fedicomment-container" class="fedicomment-counter-link">💬 <span class="count">Comments</span></a></span>
{{- else -}}
{{/* List page - show static link */}}
<span><a href="{{ .Permalink }}#fedicomment-container" class="fedicomment-counter-link">💬 Comments</a></span>
{{- end -}}
{{- end -}}
